{# templates/admin/admin.html.twig #}
{% extends 'base2.html.twig' %}

{% block title %}PProject5 - Administration{% endblock %}

    {% block content %}

    <div id="container">
    <div class="row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-tools"></i>
                Informations serveur
            </div>
            <div class="card-body">
                <ul>
                    <li>Nom d'hôte : {{ name }}</li>
                    <li>Version de PHP : {{ version }}</li>
                    <li>Protocol : {{ proto }}</li>
                    <li>Racine : {{ root }}</li>
                    <li>Adresse IP : {{ ipS }}</li>
                </ul>
            </div>
        </div>
    </div>


<div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-user"></i>
                Informations visiteur
            </div>
            <div class="card-body">
            {% set user = app.user %}
                <ul>
                    <li>Utilisateur : {{ app.user.email }}</li>
                    <li>Identifiant : {{ app.user.id }}</li>
                    <li>Adresse IP : {{ ip }}</li>
                    <li>Navigateur : {{ nav }}</li>
                </ul>
            </div>
        </div>
    </div>

            </div>
    </div>

{% endblock %}
