{# templates/member/todo.html.twig #}
{% extends 'base2.html.twig' %}

{% block title %}PProject5 - T창ches{% endblock %}

    {% block content %}

<div id="container">
    <div class="row">



<p><h3>T창ches en cours :</h3></p>

<table class=table table-bordered>
    <thead>
      <tr>
        <th>ID</th>
        <th>T창che</th>
         <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for afaire in afaires %}
      <tr>
        <td scope=row>{{afaire.id}}</td>
        <td>{{afaire.name}}</td>
        <td>{{afaire.createDate | date('d/m/Y')}}</td>
        <td>
        <a href=todo/delete/{{afaire.id}}><button type="button" class="btn btn-danger">Supprimer</button></a>
        
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>










<h2 class=page-header>Ajouter une t창che</h2>

{{form(form)}}

</div>
</div>

{% endblock %}