{# templates/member/upload.html.twig #}
{% extends 'base2.html.twig' %}

{% block body %}
	{% block content %}
		<h3>Envoi de fichiers</h3>
		<div id="simpleform">
			{{ form_start(form) }}
			{{ form_widget(form) }}

			{{ form_end(form) }}
		</div>


		<div class="col-sm">
			<div class="card">
				<div class="card-header">
					<i class="fas fa-file"></i>
					Nombre de fichiers :
					<span class="couleur">{{ filecount }}</span>
					Taille du répertoire :
					<span class="couleur">{{ sizeF }}</span>
					Mo
				</div>
				<div class="card-body">
					<div id="fic">

						<ul>
							{% for filename in filenames %}
								<li>
									<a href=" {{ filename }} " download=" {{ filename }} ">
										{{ filename }}
									</a>
									||
									<a href="{{ path('app_project_upload_delete', {'fichier': filename}) }}">
										<i class="fas fa-trash-alt"></i>
									</a>
								</li>
							{% endfor %}
						</ul>


					</div>
				</div>
			</div>
		</div>

	{% endblock %}
{% endblock %}
