{# templates/member/upload.html.twig #}
{% extends 'base2.html.twig' %} 

{% block body %} 
{% block content %}
   <h3>Envoi de fichiers</h3> 
   <div id="simpleform"> 
      {{ form_start(form) }} 
      {{ form_widget(form) }} 
      
      {{ form_end(form) }} 
   </div>   
   
Liste des fichiers :
   
   <ul>
    {% for filename in filenames %}
        <li><a href=" {{ filename }} " download=" {{ filename }} "> {{ filename }} </a> </li>
    {% endfor %}
</ul>
   

{% endblock %}  
{% endblock %} 
