{# templates/admin/admin.html.twig #}
{% extends 'base2.html.twig' %}

{% block title %}5Project - Administration{% endblock %}

    {% block content %}

    <div id="container">
    <div class="row">

    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-tools"></i>
                Informations sur le serveur
            </div>
            <div class="card-body">
                <ul>
                    <li>Nom d'hôte : {{ name }}</li>
                    <li>Version de PHP : {{ version }}</li>
                    <li>Protocol : {{ proto }}</li>
                    <li>Racine : {{ root }}</li>
                    <li>IP du client : {{ ip }}</li>
                    <li>IP du serveur : {{ ipS }}</li>
                    <li>Navigateur : {{ nav }}</li>
                </ul>
            </div>
        </div>
    </div>

            </div>
    </div>

{% endblock %}
